@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Workers.Resource> Resource
@{
    ViewData["Title"] = @Resource["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@Resource["Welcome"]</h1>

</div>
