@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Workers.Resource> Resource

   
<!DOCTYPE html>
<html>
<head>
</head>
<body style="        background-color: #e5b8f2;
        background-image: url(https://krot.info/uploads/posts/2020-01/1579232679_55-136.png);">
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
