body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    height: 800px;
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 30px #ccc;
    font-family: bold 20px arial-serif;
    letter-spacing: 4px;
}
h1 {
    text-align: center;
}
.form_button {
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-family: normal 17px arial;
    letter-spacing: 1px;
    font-size: 16px;
    color: #cbbade;
    margin: 5px auto;
    outline: none;
    cursor: pointer;
}

    .form_button:not(.active) {
        box-shadow: 0 4px 30px #ccc;
        background-image: linear-gradient(#d105ff, #fa75ff );
        text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
    }

        .form_button:not(.active):hover,
        .form_button:not(.active):focus {
            transition: color 200ms linear, text-shadow 500ms linear;
            color: #fff;
            text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
        }

    .form_button:not(:hover) {
        transition: 0.6s;
    }
.form-control {
    font-family: normal 40px arial;
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    margin: 15px;
}

    .form-control:focus {
        border-bottom: 1px solid #cf00d6;
    }

.form_group {
    position: relative;
    font-family: normal 25px arial;
    margin-bottom: 32px;
}

.control-label {
    margin: 10px auto;
    font-family: bold 25px arial;
}